@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
$main-color: #c8deff;
$bg-img-center: no-repeat center/cover; /*background-repeat background-position/background-size*/
$main-font: "Roboto", sans-serif;
body {
  background: linear-gradient(#a5aae9cc, #8c9af6);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: $main-font;
}

.card {
  background: $main-color;
  max-width: 300px;
  padding: 20px;
  line-height: 24px;
  margin: 4rem;
  position: relative;
}

.img {
  width: 70px;
  height: 70px;
  border-radius: 100%; /*for circle*/
  border: 5px solid white;
  position: absolute;
  right: -30px;
  bottom: 150px; // locating the image at the top corner of the card.
}
.img-one {
  background: url(./images/img1.jpg) $bg-img-center; /* using sass variable*/
}

.img-two {
  background: url(./images/img5.jpg) $bg-img-center;
}
.img-three {
  background: url(./images/img4.jpg) $bg-img-center;
}

.img-four {
  background: url(./images/img2.jpg) $bg-img-center;
}
